language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

before_script:
  - composer selfupdate
  - composer install --dev

script:
  - vendor/bin/kahlan --reporter=verbose --clover=coverage.xml

after_script:
  - php vendor/bin/coveralls
